[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

pytest = "*"
"flake8" = "*"
mypy = "*"
"autopep8" = "*"
yapf = "*"
isort = "*"
python-language-server = "*"
pudb = "*"
pytest-pudb = "*"


[requires]

python_version = "3.6"


[packages]

SQLAlchemy = "*"
PyMySQL = "*"
"boto3" = "*"
marshmallow = "*"
